# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Dependency directories
node_modules/
env/
__pycache__/
# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyc
*.pyo
*$py.class

# SQLite database (if using locally)
db.sqlite3

# Django migrations (optional - usually you keep these)
# **/migrations/*.py
# !**/migrations/__init__.py

# Django secret keys and local settings
*.log
local_settings.py
.env
.env.
